<div class="col-xs-12 col-sm-9">
  <div class="row">
    <% @apps.each do |app| %>
    <div class="col-xs-12 col-sm-12">
      <div class="panel panel-<%= random_color %>">
        <div class="panel-heading">
          <h3 class="panel-title"><%= link_to app.try(:name), app.try(:url) %></h3>
        </div>
        <div class="panel-body">
          <%= simple_format(app.try(:description)) %>
          <% app.tags.each do |tag| %>
          <%= link_to "/tags/#{tag.name}/apps" do %>
          <span class="label label-<%= random_color %>"><%= tag.name %></span>
          <% end %>
          <% end %>
        </div>
      </div>
    </div><!--/span-->
    <% end %>
  </div><!--/row-->
</div><!--/.col-xs-12.col-sm-9-->