<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_url %>"><%= Settings.site_name %></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li<%= ' class=active' if params[:controller] == 'apps' %>>
          <%= link_to "Home", root_url %>
        </li>
        <li<%= ' class=active' if params[:controller] == 'tags' %>>
          <%= link_to "Tags", tags_path %>
        </li>
        <li<%= ' class=active' if params[:controller] == 'about' %>>
          <%= link_to "About", about_path %>
        </li>
        <li<%= ' class=active' if params[:controller] == 'contacts' %>>
          <%= link_to "Contact", new_contact_path %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to image_tag(avatar_url, :size => "20x20"), ENV['ABOUT_ME'], :class => "navbar-link" %></li>
      </ul>
    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</nav><!-- /.navbar -->